.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

body {
	margin: auto;
	background-color: black; 
	color: #ff9600;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: #ff9600;
}

.input-none {
	display: none;
}

.estilo-lista {
	padding: 0 10px;
}

.container-padrao {
	max-width: 800px;
	width: 100%;
	margin: auto;
}

.cabecalho {
	color: #ff9600;
	height: 80px;
	display: flex;
	align-items: center;
}

.img-logo {
	width: 200px;
}

.img-principal {
	padding: 10px 0 10px 0;
}


.menu {
	list-style: none;
	display: flex;
	justify-content: flex-end;
}

.img {
	width: 100%;
}

.img-footer {
	max-width: 200px;
}

.postagem {
	display: flex;
	margin: 20px auto;
}

.space {
	padding-left: 5px;
}

.button {
	margin: auto;
}

.img-button {
	align-items: center;
	display: flex;
}

footer {
	background-color: #ff9600;
	color: black;
	display: flex;
	align-items: center;
}

.container-mapa-site {
	display: flex;
	flex-direction: column;	
}

.list-footer {
	list-style: none;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

ul > a {
	color: black;
}

.display-flex {
	display: flex;
}

.footer-center {
	width: 100%;
	border-right: 1px solid black;
	border-left: 1px solid black;
	height: 100%;
}

.text-footer {
	align-items: center;
	display: flex;
	padding: 0px 10px;
	box-sizing: border-box;
}

.box-footer {
	padding: 20px 0;
}

.img-footer {
	align-items: center;
	display: flex;
}

.rede-social-evolve-footer {
	width: 100%;
	padding-top: 20px; 
	align-items: center;
}

.img-rede-social {
	width: 50px;
	padding: 0 5px;
}

.sobre {
	text-transform: uppercase;
	font-size: 400%;
	font-weight: normal;
	letter-spacing: 5px;
	text-align: center;
	line-height: 150px;
}

.vertical-middle {
	vertical-align: middle;
}

.paragrafo-sobre {
	display: block;
}

.flex-wrap {
	flex-wrap: wrap;
}

.format-text {
	margin: 2%;
	text-align: center;
	color: black;
}

.format-post {
	padding: 5px 0;
	background-color: #ff9600;
}

.link-texto-post {
	text-decoration: underline;
	color: #5d3909; 
}

.link-texto-post-home {
	text-decoration: underline;
	color: #f1c488; 
}

.author {
	font-size: 1rem;
}

.color {
	color: #ff9600;
}

.text-post {
	padding-left: 10px;
}

.format-hr {
	border-color: black;
}

.estyle-form-section {
	display: block;
	max-width: 500px;
	width: 100%;
	margin: auto;
	margin-top: 20px;
	color: black;
}

.container-section-form {
	background-color: #ff9600;
}

.estyle-form-span {
	max-width: 400px;
	width: 80%;
	margin: auto;
	padding: 20px;
	text-align: center;
}

.form-input {
	width: 100%;
    border-radius: 8px;
    height: 30px;
    margin: 5px auto;
    border-color: #fb7800;
}

.input-option {
	width: 50%;
}

.style-form {
	width: 80%;
    text-align: center;
    margin: 5px auto;
}

.button {
	width: 100%;
	padding: 5px 0;
	text-align: center;
	border-radius: 8px;
	background-color: black;
    border-color: black;
    color: orange;
    font-size: 13px;
    font-weight: 800; 
    cursor: pointer;
}

.box-button {
	margin: auto;
	padding: 10px 0;
}

.span-form1 {
	font-size:20px; 
	color: black;
}

.span-form2 {
	font-size:15px; 
	opacity: 
}










